* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #f7f7f7;
}

/*for top header only*/

.header {
    width: 100%;
    padding: 5px;
    background-color: cornsilk;
    text-align: center;
    font-size: 20px;
}

/*for bottom footer only*/

.footer {
    width: 100%;
    background-color: cornsilk;
    text-align: left;
    padding: 15px;
    height: 60px;
    position: fixed;
    bottom: 0;
}

/*for icon in the footer*/

.footer a {
    float: right;
    padding-right: 20px;
    font-size: 30px;
}

.footer a:hover {
    color: violet;
}

/*for long cover after header*/

.bgImg {
    background-image: url("img/banner.jpg");
    background-color: #cccccc;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.clock {
    position: absolute;
    top: 20px;
    right: 60px;
    text-align: center;
}

.clock p {
    font-weight: 1000;
    font-size: 18px;
}

.clock i {
    font-size: 60px;
}

/*for logo*/

.bgImg img {
    max-height: 180px;
}

/*to adjust nav bar*/

.cover {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*to adjust nav bar*/

.navbar {
    overflow: hidden;
}

/*the nav bar*/

.navbar a {
    color: black;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    width: 12.5%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 248, 220, 0.637);
}

/*when touching nav bar*/

.navbar a:hover {
    background-color: white;
}

/*showing which page is on*/

.navbar .active {
    background-color: cornsilk;
}

/*the container*/

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/******************************home**********************************/

.left {
    flex: 76%;
    position: relative;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    margin-bottom: 100px;
}

.right {
    flex: 24%;
    border-left: 1px solid black;
    position: relative;
    overflow: hidden;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 4%;
    margin-bottom: 100px;
}


/****************************about us********************************/

.leftside {
    position: relative;
    flex: 40%;
    overflow: hidden;
    padding-top: 56.25%;
}


.middleside {
    flex: 30%;
    padding-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
}

.rightside {
    flex: 30%;
    position: relative;
    overflow: hidden;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    margin-bottom: 100px;
}

.responsive-img {
    width: 100%;
    height: auto;
    border: 0px;
}

.food-img{
    position: absolute;
    top: 6%;
    left: 10%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 20%;
    border: 0px;
}

/*****************************menu********************************/
.menusite {
    width: 15%;
    margin-top: 5%;
}

.filterMenu {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: none;
    text-align: center;
}

.filterMenu img {
    width: 200px;
    height: 200px;
}

.show {
    display: block;
}

.displayMenu {
    width: 85%;
    margin-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 6%;
}

/* Style the buttons */

.btn {
    margin-left: 20%;
    margin-top: 10%;
    background-color: rgba(65, 105, 225, 0.267);
    padding: 20px;
    width: 150px;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: rgba(65, 105, 225, 0.658);
}

.light {
    background-color: royalblue;
    color: white;
}